package %Package%

import (
    newInternal "github.com/michaeldcanady/servicenow-sdk-go/internal"
)

type %Model% struct {
    internal.BaseModel
}

func New%Model%() *%Model% {
    return &%Model%{
        BaseModel: *internal.NewBaseModel(),
    }
}
