package {{.Package}}

import (
    "time"

    "github.com/michaeldcanady/servicenow-sdk-go/internal"
    "github.com/michaeldcanady/servicenow-sdk-go/internal/conversion"
    newInternal "github.com/michaeldcanady/servicenow-sdk-go/internal/new"
    internalSerialization "github.com/michaeldcanady/servicenow-sdk-go/internal/serialization"
    "github.com/michaeldcanady/servicenow-sdk-go/internal/store"

    "github.com/microsoft/kiota-abstractions-go/serialization"
    kiotaStore "github.com/microsoft/kiota-abstractions-go/store"
)

{{$modelName := .Name}}
{{$interfaceName := .Name}}
{{$structName := printf "%sModel" .Name}}

const (
    {{range $name, $prop := .Properties -}}
    {{camel $name}}Key = "{{$name}}"
    {{end -}}
)

// {{$interfaceName}} defines the interface for the {{$modelName}} model.
type {{$interfaceName}} interface {
    {{range $name, $prop := .Properties}}
    // Get{{pascal $name}} gets the {{$name}} property value.
    Get{{pascal $name}}() ({{goType $prop}}, error)
    // Set{{pascal $name}} sets the {{$name}} property value.
    Set{{pascal $name}}({{goType $prop}}) error
    {{end}}

    serialization.Parsable
    kiotaStore.BackedModel
}

// {{$structName}} is the concrete implementation of the {{$interfaceName}} interface.
type {{$structName}} struct {
    newInternal.Model
}

// New{{$modelName}} creates a new instance of {{$structName}} with a backing store.
func New{{$modelName}}() *{{$structName}} {
    return &{{$structName}}{
        newInternal.NewBaseModel(),
    }
}

// Create{{$modelName}}FromDiscriminatorValue is a factory function for creating {{$structName}} instances during deserialization.
func Create{{$modelName}}FromDiscriminatorValue(_ serialization.ParseNode) (serialization.Parsable, error) {
    return New{{$modelName}}(), nil
}

// Serialize writes the objects properties to the current writer.
func (m *{{$structName}}) Serialize(writer serialization.SerializationWriter) error {
    if internal.IsNil(m) {
        return nil
    }

    return internalSerialization.Serialize(writer,
        {{range $name, $prop := .Properties}}
        {{serializeFunc (printf "%sKey" (camel $name)) $prop}}(m.Get{{pascal $name}}),
        {{end}}
    )
}

// GetFieldDeserializers returns the deserialization information for this object.
func (m *{{$structName}}) GetFieldDeserializers() map[string]func(serialization.ParseNode) error {
    return map[string]func(serialization.ParseNode) error{
        {{range $name, $prop := .Properties}}
        {{camel $name}}Key: {{deserializeFunc $prop}}(m.Set{{pascal $name}}),
        {{end}}
    }
}

{{range $name, $prop := .Properties}}
// Get{{pascal $name}} returns the {{$name}} property value.
func (m *{{$structName}}) Get{{pascal $name}}() ({{goType $prop}}, error) {
    if internal.IsNil(m) {
        return {{if isSlice $prop}}nil{{else}}nil{{end}}, nil
    }

    backingStore := m.GetBackingStore()
    return store.DefaultBackedModelAccessorFunc[kiotaStore.BackingStore, {{goType $prop}}](backingStore, {{camel $name}}Key)
}

// Set{{pascal $name}} sets the {{$name}} property value.
func (m *{{$structName}}) Set{{pascal $name}}(val {{goType $prop}}) error {
    if internal.IsNil(m) {
        return nil
    }

    backingStore := m.GetBackingStore()
    return store.DefaultBackedModelMutatorFunc(backingStore, {{camel $name}}Key, val)
}
{{end}}
