package %Package%

// %Name%RequestBuilder%Verb%QueryParameters represents the query parameters for a %Verb% request.
type %Name%RequestBuilder%Verb%QueryParameters struct {
    // %ParamName% %ParamDescription%
    %ParamName% *%ParamType% `url:"%param_key%,omitempty"`
}
