package %Package%

import (
    abstractions "github.com/microsoft/kiota-abstractions-go"
)

// %Name%RequestBuilder%Verb%RequestConfiguration represents the configuration for a %Verb% request.
type %Name%RequestBuilder%Verb%RequestConfiguration = abstractions.RequestConfiguration[%Name%RequestBuilder%Verb%QueryParameters]
